* {
  box-sizing: border-box;
  
  
}

.col-container {
  display: table;
  width: 100%;
  margin: 0 -5px;
}
/* Clear floats after the columns */

.column {
  display: table-cell;
  padding: 10px;
  
 
}
.col{
	
	 padding: 16px;
}

@media only screen and (max-width: 600px) {
  .column { 
    display: block;
    width: 100%;
     margin:10px
  }
}


a, a span {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
a {
  color: #48b983;
}
a:hover {
  color: #40a776;
}

ul, ol {
  padding-left: 25px;
}

code {
  color: #444;
  background-color: #f6f6f6;
}
pre code {
  overflow-x: auto;
  overflow-wrap: normal;
  white-space: pre;
}
blockquote {
  font-size: 14px;
}


header {
  background-color: #111;
  color: #eee;
  padding: 40px;
}
header h1 {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 15px;
  margin: 0 0 0 4px;
}
@media (max-width: 767px) {
  header {
    padding: 30px;
  }
  header h1 {
    letter-spacing: 5px;
    font-size: 40px;
  }
  .list-inline li {
    display: list-item;
  }
}

header h1 a {
  color: #eee;
}
header h1 a:hover {
  text-decoration: none;
}
header ul {
  margin: 25px 0 0;
}
header ul li {
  padding-bottom: 20px;
}
header ul a {
  color: #ddd;
  font-weight: 700;
}
header ul a span {
  color: #888;
  font-weight: 300;
  padding-right: 2px;
}
header ul a:hover {
  color: #48b983;
  text-decoration: none;
}
header ul a:hover span {
  color: #1b8057;
}
.col{
	background-color: #f1f1f1;
}
p.h4.text-center,h2, h3, h4, h5, h6, p {
    color: #222;
}

.about-me__content{
   
    color:#f1f1f1;
    font-family: "Courier New";
    box-sizing: border-box;
}

